body {
    background-color: whitesmoke;
}

#calculatorContainer {
    background-color: gray;
    border: 1px solid black;
    margin: 200px auto;
    width: 256px;
    height: 365px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
}

button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

#display {
    font-family: 'Seven Segment', sans-serif;
    box-shadow: inset 0 0 5px;
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: 40px;
    margin: 0 auto;
    width: 240px;
    max-width: 240px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    border: 1px solid black;
    padding-right: 7px;
    margin-bottom: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btnContainer {
    display: flex;
    justify-content: flex-start;
}

.btnSmallNum,
.btnSmallOperation,
#btnDelete,
#btnSmallSign,
#btnBackspace {
    width: 57px;
    height: 57px;
    margin: 2px;
}

.btnSmallOperation {
    background-color: yellow;
}


.btnLarge {
    width: 57px;
    height: 118px;
    margin: 2px;
    background-color: green;
}

#btnBackspace {
    background-color: rgb(165, 64, 64);
}

#btnDelete {
    background-color: beige;
}

