#calculatorContainer {
    border: 1px solid black;
    margin: 200px auto;
    width: 256px;
    height: 358px;
    padding: 10px;
}

button {
    font-size: 20px;
    font-weight: bold;
}

#display {
    font-size: 20px;
    margin: 0 auto;
    width: 240px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    border: 1px solid black;
    padding-right: 10px;
    margin-bottom: 7px;
}

#btnContainer {
    display: flex;
    justify-content: flex-start;
}

.btnSmallNum,
.btnSmallOperation,
#btnDelete,
#btnSmallSign,
#btnBackspace {
    width: 57px;
    height: 57px;
    margin: 2px;
}

.btnSmallOperation {
    background-color: yellow;
}


.btnLarge {
    width: 57px;
    height: 118px;
    margin: 2px;
    background-color: green;
}

#btnBackspace {
    background-color: red;
}